node_modules/
__debug_bin*

yarn.lock
package-lock.json
!admin-ui/package-lock.json
!chat-admin-ui/package-lock.json
!liquidity-admin-ui/package-lock.json
!app-web/package-lock.json
!app-packages/package-lock.json
!app-mobile/package-lock.json

avatars/

.vite/
dist/

*.tsbuildinfo

/deploy/operations/contract/production-readiness.env
/deploy/.env.preprod
/deploy/environments/dev/.env
/deploy/environments/preprod/.env
/deploy/secrets/

android/
ios/
