node_modules/
__debug_bin*

yarn.lock
package-lock.json
!admin-ui/package-lock.json
!chat-admin-ui/package-lock.json
!liquidity-admin-ui/package-lock.json

avatars/

.vite/
dist/

*.tsbuildinfo

/deploy/production-readiness.env
/deploy/secrets/

android/
ios/
